In [1]:
# Importing libraries
import pandas as pd
from os import listdir
from os.path import isfile, join
from multiprocessing import Pool
from tqdm import tqdm
import pickle
from datetime import datetime
from datetime import timedelta
import numpy as np
from matplotlib import pyplot as plt
from collections import Counter
from datetime import datetime

# Reading the data
data_path = 'Data/'
log = pd.read_csv(data_path + 'LOG_WEB_201708.csv', sep=';')
clients = pd.read_csv(data_path + 'clients.csv', sep = ';')
cmd = pd.read_csv(data_path + 'CMD.csv', sep = ';')
cmd = cmd[(cmd['ORDER_DATE'] >= '2017-08-01') & (cmd['ORDER_DATE'] < '2017-09-01')]
table = pd.read_csv(data_path + 'TABLE_CONVERSION.csv', sep = ';')

# Remove unamed column
log = log.loc[:, ~log.columns.str.contains('^Unnamed')]
clients = clients.loc[:, ~clients.columns.str.contains('^Unnamed')]
cmd = cmd.loc[:, ~cmd.columns.str.contains('^Unnamed')]
table = table.loc[:, ~table.columns.str.contains('^Unnamed')]

# Adjust data types - wrong types were causing issues
clients.CLIENT_NUMBER = [str(clients) for clients in clients.CLIENT_NUMBER]
cmd.CLIENT_NUMBER = [str(cmd) for cmd in cmd.CLIENT_NUMBER]
table.CLIENT_NUMBER = [str(table) for table in table.CLIENT_NUMBER]
table.VISITOR_ID = [str(table) for table in table.VISITOR_ID]
log.VISITOR_ID = [str(log) for log in log.VISITOR_ID]

# Only will look at orders so the log can be filtered already
log = log[log.VISITOR_ID != '0']
cmd = cmd.sort_values(['CLIENT_NUMBER'])
cmd['COUNT'] = 1
log = log.sort_values(['VISITOR_ID'])
log['DATE'] = log.EVENT_DATE.str.slice(0,10)
cmd = cmd.groupby(['CLIENT_NUMBER', 'ORDER_DATE', 'ORDER_CHANNEL']).sum().reset_index()
cmd['PROMO'] = True
cmd.loc[cmd['CVIC'] == 0, 'PROMO'] = False
cmd['AVG_EXPENSE'] = cmd.PRE_TAX_AMOUNT / cmd.COUNT
cmd = cmd[['CLIENT_NUMBER', 'ORDER_DATE', 'ORDER_CHANNEL', 'PROMO', 'AVG_EXPENSE', 'COUNT']]
cmd = cmd[cmd.ORDER_CHANNEL == 'Internet']
data = pd.merge(log, table, left_on='VISITOR_ID', right_on='VISITOR_ID', how='left')
data = pd.merge(data, cmd, left_on=['CLIENT_NUMBER', 'DATE'], right_on=['CLIENT_NUMBER', 'ORDER_DATE'], how='inner')
data = data.sort_values(['EVENT_DATE'])

data['MINUTES_ONLINE'] = '1'
data['UNIQUE_PAGES'] = 1

def feature_calc(data):
    data = data.astype('object')
    counterA = []
    for date in data.DATE.unique():
        counterA.append(date)
        print(len(counterA)/len(data.DATE.unique()))
        for session in data[data.DATE == date].ID_SESSION.unique():
            # Unique Pages
            data.loc[(data['ID_SESSION'] == session) & (data['DATE'] == date), 'UNIQUE_PAGES'] = len(data.loc[(data['ID_SESSION'] == session) & (data['DATE'] == date), 'PAGES'].unique())
            # Minutes Online
            l = data.loc[(data['ID_SESSION'] == session) & (data['DATE'] == date), 'EVENT_DATE']
            mini = datetime.strptime(l.min(), '%Y-%m-%d %H:%M:%S')
            maxi = datetime.strptime(l.max(), '%Y-%m-%d %H:%M:%S')
            minutes = (maxi-mini).total_seconds()/60
            data.loc[(data['ID_SESSION'] == session) & (data['DATE'] == date), 'MINUTES_ONLINE'] = minutes
            # GLOBAL SOURCES AGGREGATION
            #smp = str()
            #tmp = sorted(data.loc[(data.ID_SESSION == session) & (data.DATE == date), 'GLOBAL_SOURCES'].unique())
            #for i in tmp:
            #    smp += ' / ' + i
            ##print(smp)
            #data.loc[(data.ID_SESSION == session) & (data.DATE == date), 'GLOBAL_SOURCES'] = smp
    return(data)

#data = feature_calc(data)
data.to_csv('order_backup.csv')

In [2]:
data.head()

,VISITOR_ID,CONNECTED_SESSION,ID_SESSION,SESSION_START_DATE,EVENT_DATE,PAGES,GLOBAL_SOURCES,DEVICE_TYPE,DEVICE_MODEL,LOADINGS,DATE,CLIENT_NUMBER,ORDER_DATE,ORDER_CHANNEL,PROMO,AVG_EXPENSE,COUNT
122380,706588,OUI,23,2017-08-08 00:01:29,2017-08-08 00:01:29,ajout au panier,Accès Direct,Ordinateur,NaN,1,2017-08-08,-7174350147193854740,2017-08-08,Internet,False,19.08,1
77723,544416,OUI,22,2017-08-08 00:01:29,2017-08-08 00:01:29,category 1::category 1 uni::fiche produit::-64...,Accès Direct,Ordinateur,NaN,1,2017-08-08,8969790064941805242,2017-08-08,Internet,False,33.41,1
122369,706588,OUI,23,2017-08-08 00:01:29,2017-08-08 00:01:32,accueil,Accès Direct,Ordinateur,NaN,1,2017-08-08,-7174350147193854740,2017-08-08,Internet,False,19.08,1
83621,563053,OUI,13,2017-08-08 00:01:32,2017-08-08 00:01:32,mon panier,Accès Direct,Ordinateur,NaN,1,2017-08-08,-5859629033836166974,2017-08-08,Internet,False,140.17,2
77717,544416,OUI,22,2017-08-08 00:01:29,2017-08-08 00:01:53,soldes,Accès Direct,Ordinateur,NaN,1,2017-08-08,8969790064941805242,2017-08-08,Internet,False,33.41,1

In [5]:
data.to_csv('order_backup.csv')

In [11]:
data.columns()

TypeError: 'Index' object is not callable

In [9]:
tmp = data[['CLIENT_NUMBER', 'VISITOR_ID', 'ID_SESSION', 'SESSION_START_DATE', 'GLOBAL_SOURCES', 'DEVICE_TYPE', 'DATE', 'ORDER_CHANNEL', 'PROMO', 'AVG_EXPENSE', 'MINUTES_ONLINE', 'UNIQUE_PAGES']]
tmp = tmp.groupby(['CLIENT_NUMBER', 'VISITOR_ID', 'ID_SESSION', 'GLOBAL_SOURCES', 'DEVICE_TYPE', 'DATE', 'ORDER_CHANNEL', 'PROMO', 'AVG_EXPENSE', 'MINUTES_ONLINE', 'UNIQUE_PAGES']).count().reset_index()

In [10]:
tmp[tmp.CLIENT_NUMBER == '-1008458086851481944']

,CLIENT_NUMBER,VISITOR_ID,ID_SESSION,GLOBAL_SOURCES,DEVICE_TYPE,DATE,ORDER_CHANNEL,PROMO,AVG_EXPENSE,MINUTES_ONLINE,UNIQUE_PAGES
0,-1008458086851481944,708578,13945,Accès Direct,Ordinateur,2017-08-19,Internet,False,129.5,14.983333,9
1,-1008458086851481944,708578,18235,Liens Sponsorisés,Ordinateur,2017-08-19,Internet,False,129.5,0.283333,3

# Objective
Transform the Data to display features by order

In [ ]:
data = pd.merge(log, table, left_on='VISITOR_ID', right_on='VISITOR_ID', how='left')
data = data.sort_values(['CLIENT_NUMBER', 'EVENT_DATE'])

In [ ]:
cmd

In [ ]:
for client in data.CLIENT_NUMBER.unique():
    print(client)

In [ ]:
cmd.groupby(['CLIENT_NUMBER', 'ORDER_DATE', 'ORDER_CHANNEL']).mean().reset_index()#.PRE_TAX_AMOUNT