In [5]:
import pandas as pd
from os import listdir
from os.path import isfile, join

Loading in all data for expection:
0. data volume
1. field consistancy
2. missing values anywhere at all
3. data types
4. basic visualisation for relevant cols
5. etc

In [19]:
data_path = 'data/'
onlyfiles = [f for f in listdir(data_path) if isfile(join(data_path, f))]

In [27]:
for file in onlyfiles:
    if file[:3] == 'LOG':
        print('the inspected log file is: ' + file)
    else:
        print('the inspected non log file is :' + file)
    print('it has: ', len(pd.read_csv('data/' + file, sep = ';', error_bad_lines = False)), 'lines')

the inspected non log file is :TABLE_CONVERSION.csv
it has:  580404 lines
the inspected non log file is :.DS_Store
it has:  0 lines
the inspected non log file is :CLIENTS.csv
it has:  3125800 lines
the inspected log file is: LOG_WEB_201710.csv
it has:  3301363 lines
the inspected log file is: LOG_WEB_201711.csv
it has:  5055599 lines
the inspected non log file is :CMD.csv
it has:  7323227 lines
the inspected log file is: LOG_WEB_201712.csv
it has:  4535451 lines
the inspected log file is: LOG_WEB_201708.csv
it has:  2189118 lines
the inspected log file is: LOG_WEB_201709.csv
it has:  2874217 lines
the inspected log file is: LOG_WEB_201801.csv

/Users/ruoyangzhang/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

it has:  8450825 lines
the inspected log file is: LOG_WEB_201802.csv
it has:  6063362 lines
the inspected log file is: LOG_WEB_201803.csv
it has:  2739719 lines

these files are rather large containing many lines, we should use a subset to test the robustness of the classification

In [24]:
data_201708 = pd.read_csv('data/LOG_WEB_201708.csv', sep=';')

In [35]:
colns = sorted([col for col in list(data_201708.columns) if col[:3] != 'Unn'])

In [37]:
for file in onlyfiles:
    if file[:3] == 'LOG':
        colns_check = sorted([col for col in list(pd.read_csv('data/' + file, sep = ';').columns) if col[:3] != 'Unn'])
        print('the columns match the example columns: ', colns_check == colns)
        if colns_check != colns:
            print('the file with unmatched cols is: ', file)

the columns match the example columns:  True
the columns match the example columns:  True
the columns match the example columns:  True
the columns match the example columns:  True
the columns match the example columns:  True

/Users/ruoyangzhang/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

the columns match the example columns:  True
the columns match the example columns:  True
the columns match the example columns:  True

So the 201709 file is not matched, let's take a look at what's going on

In [33]:
data_201709 = pd.read_csv('data/LOG_WEB_201709.csv', sep=';')

In [34]:
data_201709.head()

,Unnamed: 0,Unnamed: 0.1,VISITOR_ID,CONNECTED_SESSION,ID_SESSION,SESSION_START_DATE,EVENT_DATE,PAGES,GLOBAL_SOURCES,DEVICE_TYPE,DEVICE_MODEL,LOADINGS
0,0,0,433347,OUI,3,2017-09-01 00:00:12,2017-09-01 00:00:12,accueil,Email marketing,Ordinateur,NaN,1
1,1,1,433347,OUI,3,2017-09-01 00:00:12,2017-09-01 00:07:23,accueil,Email marketing,Ordinateur,NaN,1
2,2,10,433347,OUI,3,2017-09-01 00:00:12,2017-09-01 00:16:51,accueil,Email marketing,Ordinateur,NaN,1
3,3,13,433347,OUI,3,2017-09-01 00:00:12,2017-09-01 00:19:24,accueil,Email marketing,Ordinateur,NaN,1
4,4,15,433347,OUI,3,2017-09-01 00:00:12,2017-09-01 00:21:12,accueil,Email marketing,Ordinateur,NaN,1